:root {
    --dark: linear-gradient(to top right, #2e1114, #2e1114e0);
    --light: #adadad;
    --contrast1: #c3073f;
    --contrast2: #950740;
  }
.resetpassword-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contrast1);
  }
  
.resetpassword-container-box{
    height: 70vh;
    width: 30vw;
    background-color: var(--light);
    border-radius: 1.5rem;
    box-shadow: 3px 5px 10px rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}
.alert{
    max-height: 4em !important;
    font-size: 1em;
    animation: fade 1s ease-in-out 1 alternate;
    transition: ease-in-out;

}
.messages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3em;
    animation: fade 1s ease-in-out 1 alternate;
}
.error{
    text-align: left;

}
.error-message{
    color: white;
    font-weight: 500;
    color: black
}
.resetpassword-header{
    text-transform: uppercase;
    text-align: center;
    border-radius: 2em;
    margin-bottom: 1em;
}
.resetpassword-header h1{
    color: var(--contrast2);
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 6px;
}
.resetpassword-subtext {
    letter-spacing: 1px;
    margin-bottom: 1em;
    font-weight: 300;
}

.form-control{
    margin: 0em 0em 1.5em 0em;
    border-radius: 1em !important;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.btn{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 1em !important;
    font-weight: 300;
}
.btn-primary{
    background-color: var(--contrast1) !important;
    border-color: var(--contrast2) !important;
    transition: all .2s ease-in-out !important;
}
.btn-primary:hover{
    transform: scale(1.05);
    font-weight: 500;
}